/*------------------------------------------------
                HEADER AREA
-------------------------------------------------*/

/*==== Header Top Area =====
===========================*/

.header-top-area {
    padding: 7px 0;
    border-top: 1px solid $primary-color;
	border-bottom: 1px solid $primary-color;

    span {
        display: inline-block;
        margin-top: 5px;
        font-size: 14px;
		@media #{$mediumScreen} {
			font-size: 12px;
		}
        color: #777;
        margin-right: 10px;
		line-height: 24px;
		letter-spacing: .5px;
		
		@media #{$tabletScreen} {
			margin-right: 4px;
			font-size: 11px;
		}

        strong {
            text-transform: capitalize;
            color: rgba($primary-color, .7);
        }

        i {
            margin-right: 5px;
            font-size: 16px;
            color: $primary-color;
        }
    }
    .social-profile {
        margin-top: 0;
        li {
            a {
                margin-bottom: 0;
				
				@media #{$mediumScreen} {
					margin-right: 0;
				}
					
				i {
					@media #{$mediumScreen} {
						width: 30px;
						height: 30px;
						line-height: 30px;
						font-size: 15px;
					}
				}
            }
        }
    }
    .appointment-btn {
        margin: 0;
        text-transform: capitalize;
    }
}

/*==== Main Menu Area =====
===========================*/

.main-menu-area {

    .logo {
        padding: 8px 0;

        a {
            display: block;
            margin: 4px 0;

            h1 {
                @include transition(0.3s);

                margin: 0;
                text-transform: capitalize;
                font-size: 36px;

                @media #{$tabletScreen} {
                    font-size: 26px;
                }

                @media #{$smallMobileScreen} {
                    font-size: 24px;
                }
            }

            img {
                @media #{$smallMobileScreen} {
                    width: 50%;
                }
                
                @media #{$wideMobileScreen} {
                    width: 35%;
                }
            }
        }
    }

    ul.navbar-nav {
        > li {
            > a {
                color: #333;
                font-size: 14px;
                text-transform: capitalize;
                font-weight: 600;
                letter-spacing: .1px;
                padding: 29px 16px;

                @include transition(all 0.3s ease);

                @media #{$smallMobileScreen} {
                    padding: 12px 16px;
					color: #fff;
                }
            }

            &:hover a, &.active a{
                background-color: rgba($primary-color, 0.7);
				color: $white-color;
            }
			&:hover a{
				opacity: .7;
			}
        }
    }
    .header-right-content {
        margin: 21px 0 10px;
        .appointment-btn {
            padding: 0 15px;
            font-size: 14px;
            text-transform: capitalize;
        }
    }
}

.sticky {
    .main-menu-area {
		background-color: #fff;
        @include boxShadow(0px 0px 5px 1px #333);

        .logo {
            padding: 10px 0;

            a {
                h1 {
                    font-size: 33px;

                    @media #{$tabletScreen} {
                        font-size: 24px;
                    }

                    @media #{$smallMobileScreen} {
                        font-size: 22px;
                    }
                }
            }
        }
    }
}