/*------------------------------------------------
                ABOUT AREA
-------------------------------------------------*/

.about-us-area {
    h2 {
        font-size: 32px;

        @media #{$smallMobileScreen} {
            font-size: 20px;
        }
    }

    p {
        font-size: 15px;
        line-height: 26px;
        margin: 24px 0;

        @media #{$smallMobileScreen} {
            font-size: 13px;
            line-height: 20px;
        }
    }

    .about-btn {
        margin-top: 15px;
    }

    .video-img {
        @extend .relative;

        &:before {
            @extend .absolute;

            background-image: url(../img/shadow.png);
            background-repeat: no-repeat;
            top: 100%;
            height: 29px;
            width: 100%;
        }
    }
}