/*------------------------------------------------
                MAP AREA
-------------------------------------------------*/

.map-area {
	padding-bottom: 100px;
}

#map {
    height: 450px;
    width: 100%;
    margin-bottom: 100px;
}